body{
    margin: 0px 0px auto;
}

.home{
    position: relative;
    text-align: right;
    color: aliceblue;
    vertical-align: middle;
}

.navbar{
    position: absolute;
    width:100%;
    padding-top: 3.1vw;
    padding-bottom: 3.1vw;
    padding-left: 1.56vw;
    right: 0px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0));
}

.nav{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Source Sans Pro', sans-serif;
    padding-right: 3.12vw;
    font-size: 1.72vw;
}

.heading1{
    position: absolute;
    top: 32%;
    right: 5.4vw;
    font-size: 7.8vw;
    font-family: 'Sedgwick Ave', cursive;
}

.heading2{
    position: absolute;
    top: 52%;
    right: 5.46vw;
    font-size: 1.95vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.heading3{
    position: absolute;
    top: 65%;
    right: 5.46vw;
    font-size: 1.95vw;
    font-family: 'Source Sans Pro', sans-serif;
}

.tips{
    padding: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:lightcyan;
}

.tipsheading{
    color: midnightblue;
    padding: 20px 5px;
    text-align: center;
    font-size: 50px;
}

.tipbox{
    position: relative;
    max-width: 770px;
    height: 170px;
    border-top: 4px solid darkturquoise;
    border-left: 4px solid darkturquoise;
    border-right: 4px solid rgb(2, 104, 105);
    border-bottom: 4px solid rgb(2, 104, 105);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40px;
    background-color: rgb(240, 254, 255);
}

.lefttext{
    position: absolute;
    left: 100px;
    top: 60px;
}

.rightimg{
    position: absolute;
    right: 80px;
    top: 15px;
}

.righttext{
    position: absolute;
    right: 100px;
    top: 60px;
}

.leftimg{
    position: absolute;
    left: 80px;
    top: 15px;
}

.symptoms{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: lightgoldenrodyellow;
    padding: 40px;
}

.symptomsheading{
    text-align: center;
    font-size: 50px;
    color:saddlebrown;
}

.symp1{
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

table{
    background-color: white;
    text-align: center;
    border: 5px solid darkgreen;
    border-collapse: collapse;
    font-size: 18px;
    margin-left: auto;
    margin-right: auto;
}

th{
    background-color: rgb(222, 243, 189);
    border: 5px solid darkgreen;
    border-width: 2px;
    border-bottom-width: 4px;
    padding: 10px 15px;
    color: rgb(0, 70, 0);
}

td{
    background-color: rgb(249, 255, 240);
    border: 5px solid darkgreen;
    border-width: 2px;
    padding: 10px 20px;
}

.symp2{
    text-align: center;
    padding: 20px;
    font-size: 20px;
}

.advice{
    max-width: 640px;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    border: 5px solid saddlebrown;
    border-radius: 10px;
    background-color: rgb(255, 233, 195);
}

.faqs{
    background-color:rgb(255, 225, 255);
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 40px;
}

.faqsheading{
    font-size: 50px;
    color:purple;
    padding-bottom: 20px;
}

.quesbox{
    max-width: 900px;
    padding: 30px 40px;
    border: 4px solid rgb(130, 0, 119) ;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
    background-color:rgb(255, 247, 255);
}

.ques{
    font-size: 22px;
    padding-bottom: 10px;
}

.ans{
    font-size: 20px;
}

.yt{
    padding: 40px;
    text-align: center;
    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: rgb(99, 1, 1);
    background-color: rgb(255, 170, 170);
}

.ytheading{
    padding-bottom: 40px;
}

.contact{
    color: aliceblue;
    font-size: 20px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    background-color: rgb(14, 20, 39);
    padding: 30px;
}

.madeby{
    padding-bottom: 20px;
}

.link{
    padding: 15px;
}

.hospitals{
    padding: 40px;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    background-color:rgb(222, 243, 189);
}

.hospheading{
    font-size: 50px;
    color: rgb(0, 82, 0);
}

.hosptext{
    padding: 20px;
    font-size: 30px;
}
